footer {
	text-align: center;
	padding: 20px 0px 0px 5px;
	background-color: gray;
	box-shadow: -2px -2px 12px green;
	height: 50px;
	width: 100%;
	white-space: nowrap;
	text-align: center;
	padding: 5px 25px;
	margin: 0px 0px 0px 0px;
	color: black;
	font-weight: bolder;
	box-shadow: 12px -4px 8px silver;
}

a:link {
	color: rgb(27, 83, 27);
}
